<!doctype html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{css/navbar-fixed-left.min.css}">
<link rel="stylesheet" th:href="@{css/index.css}">




</head>
<body>

	<nav class="navbar navbar-dark bg-primary fixed-left"
		data-target="#paths">
		<a class="navbar-brand" href="#">InGiven</a>
		<div class="d-flex" id="paths">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link " href="index">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="clothes">Clothing</a>
				</li>
				<li class="nav-item"><a class="nav-link active " href="/">Books</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="toys">Toys</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">Other</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Holder</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Holder</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Books</h1>
		</div>
	</div>

</body>


</html>


